body {
    font-family: 'Poppins', sans-serif;
}

main{
    
    main: height 100vh;
    background-color: rgb(226, 248, 28);
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    color: rgb(245, 0, 0);
}